<h1>Word Frequency</h1>
<h2>Find the Frequency of a Given Word</h2>
<form action="/word_count">
  <div class="form-group">
    <label for="word_count">Enter the text to be checked.</label>
    <input id="word_count" name="word_count" class="form-control" type="text" placeholder="Enter Text Here">
    <label for="word_to_count">Enter the word to be counted.</label>
    <input id="word_to_count" name="word_to_count" class="form-control" type="text" placeholder="Enter Word Here">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
